.header {
  background-color: black;
  text-decoration: none;
  width: 100%;
  color: black;
}

h1{
  margin: 0;
  padding-top: .5em;
  font-size: xxx-large;
  font-family: 'UnifrakturCook', cursive;
}

h2{
  padding-bottom: 1em;
  font-size: medium;
}