.form{
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 30%;
  outline: none;
  padding: 5px;
  border: solid #5e0000 2px;
}

.search-btn,
.display-all {
  background-color: black;
  color: white;
  font-weight: 700;
  outline: none;
  border: solid white 1px;
}